@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,300&family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #121213;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins';
	overflow-x: hidden;
	width: 100%;
}

header {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #3a3a3c;
}

h1 {
	font-family: 'Merriweather';
	font-weight: 900;
	font-size: 2rem;
	margin: 8px;
}

form {
	margin-top: 5rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 400px;
	gap: 5px;
}

.search {
	flex: 100%;
	display: flex;
	justify-content: center;
}

.letter,
#submit {
	font-family: inherit;
	text-align: center;
	width: 4rem;
	height: 4rem;
	background-color: inherit;
	border: 1px solid #818384;
	color: white;
	border-radius: 4px;
	font-size: 2rem;
}

.letters {
	flex: 100%;
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}

.filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

label {
	margin-bottom: 5px;
	font-size: clamp(0.8rem, 2.5vw, 1.25rem);
}

#including,
#excluding {
	width: 100%;
	background-color: inherit;
	border: 1px solid #818384;
	color: white;
	height: 4rem;
	font-size: 2rem;
	text-align: center;
}

#submit {
	width: 100%;
	font-size: 1.5rem;
}

#submit:hover {
	background-color: white;
	color: #121213;
}

.result-container {
	border-radius: 4px;
	margin: 2em;
	width: clamp(250px, 45ch, 900px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.result {
	background-color: #333;
	padding: 1em;
	text-align: center;
	font-size: clamp(0.8rem, 2.5vw, 1.25rem);
	line-height: 1.6;
	margin: 1rem;
	display: none;
	columns: 5;
}

@media (max-width: 600px) {
	form,
	.result {
		margin: 16px;
		max-width: 300px;
	}
	.letter {
		width: 3rem;
		height: 3rem;
		font-size: 1.5rem;
	}

	#including,
	#excluding,
	#submit {
		height: 3rem;
	}
}
